@import "../../style.scss";
.stories {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  font-family: Lexend;

  @include mobile {
    justify-content: space-between;
  }

  @include tablet {
    gap: 1rem;
  }

  .story {
    flex: 1;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    @include mobile {
      flex: none;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: white;
      font-weight: 500;
      @include mobile {
        display: none;
      }
    }

    button {
      position: absolute;
      bottom: 3rem;
      left: 0.5rem;
      color: white;
      background-color: #5271ff;
      border: none;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
